<div class="large-2 cell medium-2 text-right">
	<ng-container [ngSwitch]="true" class="success label">
		<span *ngSwitchCase="loadService.statusCondition[0](server)" class="success badge">&nbsp;</span>
		<span *ngSwitchCase="loadService.statusCondition[1](server)" class="warning badge">&nbsp;</span>
		<span *ngSwitchCase="loadService.statusCondition[2](server)" class="alert badge">&nbsp;</span>
		<span *ngSwitchCase="loadService.statusCondition[3](server)" class="primary badge">&nbsp;</span>
		<span *ngSwitchCase="loadService.statusCondition[4](server)" class="secondary badge">&nbsp;</span>
	</ng-container>
</div>
